<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Screening Form</title>
    <link rel="stylesheet" href="./static/css/form_design.css">
</head>

<body>
    <div class="container">
        <div style="margin-left:1%; float:left;">
            <img src="./static/images/DrAround.png" width="100" alt="logo"/>
        </div>
        <div style="vertical-align:middle; text-align:center">
             <h1> Dr. Around for Choronic Disease </h1> 
        </div> 
    </div>

    <p></p>

    {% block content %}

    {% endblock %}

</body>
</html>