{% extends 'base.html' %}

{%block content %}
<p> </p>
<div class="col">
    <div class="card ms-4 me-4 mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-center">
            <h4 clss="my-0 font-weight-bold"> AI Screening for Diabetes </h4>
        </div>
        <div class="card-body">
            <h5> Ứng dụng công nghệ AI giúp Quý vị có thể đo lường mức độ nguy hiểm của bệnh đái tháo đường chỉ thông qua các câu hỏi khảo sát đơn giản nhằm phát hiện sớm người có
                nguy cơ cao. Chúng tôi đang tiến hành đồng nghiên cứu để phát triển mô hình cùng với Bệnh Viện Đại Học Y Hà Nội và Quý vị có thể trải nghiệm sản phẩm đang trong quá trình phát triển thử nghiệm tại đây.
            </h5>
            <table class="w-50 text-center table-bordered border-Secondary"  style="float:none; margin:0 auto;">
                <thead>
                    <tr class="text-bg-secondary">
                        <th scope="col"> <h4>  độ nhạy </h4> </th>
                        <th scope="col"> <h4> độ đặc hiệu </h4> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <h4> 0.83 </h4> </td>
                        <td> <h4> 0.55 </h4> </td>
                    </tr>
                </tbody>
            </table>
            <p></p>
            <div class="py-3 text-bg-warning bg-opacity-25 border-light rounded-3 text-center">
                <h4> Đây là sản phẩm thử nghiệm, chưa được cấp phép trang thiết bị y tế. </h4>
            </div>
            <p></p>    
            <h5> Trải nghiệm này không phải là một hoạt động y tế nhằm chẩn đoán hay điều trị bệnh đái tháo đường. Do đó, bất kể kết quả trải nghiệm này ra sao, trong trường hợp có triệu chứng của bệnh đái tháo đường, xin Quý vị vui lòng tới bệnh viện gần nhất để được thăm khám. </h5>
        </div>
    </div>

    <div class="card ms-4 me-4 mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-center">
            <h4 clss="my-0 font-weight-bold"> Điều khoản sử dụng </h4>
        </div>
        <div class="card-body">
            <h5> Chúng tôi sẽ thu thập và sử dụng các thông tin dưới đây để phục vụ việc trải nghiệm của Quý vị trong nghiên cứu này. </h5>
            <h5 class="ms-4"> 
                <li> Thông tin về chỉ số cơ thể: tuổi, giới tính, chiều cao, cân nặng, vòng eo </li>
                <li> Thông tin về thói quen sinh hoạt: thói quen hút thuốc, thói quen uống rượu, thói quen tập thể dục </li>
                <li> Thông tin bệnh lý: cao huyết áp, bệnh sử gia đình, thông tin về bệnh lý đã được chẩn đoán trong quá khứ hoặc hiện nay đang mắc như tiểu đường thai kỳ </li>
            </h5>
            <h5> Thông tin thu thập được sử dụng làm giá trị đầu vào của mô hình dịch vụ trải nghiệm sàng lọc ứng dụng AI này và sẽ được hủy bỏ ngay sau khi đạt được mục tiêu. Quý vị vui lòng xác nhận đồng ý với các nội dung nêu trên để bắt đầu trải nghiệm dịch vụ sàng lọc ứng dụng AI. </h5>
        </div>
    </div>
    <div class="ms-4 me-4">
        <a href="/survey"> 
            <button type="button" class="w-100 btn btn-lg btn-primary"> Đồng ý và trải nghiệm </button>
        </a>
    </div>
    

</div>

{% endblock %}

