<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Screening Form</title>
    <link rel="stylesheet" href="static/css/form_design.css">
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h4> 당뇨병 위험 체크리스트 </h4>

            <div class="input-group input-group-icon">
                <input type="number" placeholder="(세)" id="age" name="age">
                <div class="input-icon">나이<i class="fa fa-user"></i></div>
            </div>

            <div class="input-group input-group-icon">
                <input type="number" placeholder="(cm)" id="height" name="height">
                <div class="input-icon">키<i class="fa fa-user"></i></div>
            </div>            

            <div class="input-group input-group-icon">
                <input type="number" placeholder="(kg)" id="weight" name="weight">
                <div class="input-icon">몸무게<i class="fa fa-user"></i></div>
            </div>   

            <div class="input-group input-group-icon">
                <input type="number" placeholder="(cm)" id="waist_circumference" name="waist_circumference">
                <div class="input-icon">허리둘레<i class="fa fa-user"></i></div>
            </div>  

            <div class="input-group">
                <div class="input-icon">당신의 성별은 무엇입니까?<i class="fa fa-user"></i></div>
                <input id="gender-male" type="radio" name="gender" value="0"/>
                <label for="gender-male">남성</label>
                <input id="gender-female" type="radio" name="gender" value="1"/>
                <label for="gender-female">여성</label>
            </div>

            <div class="input-group">
                <div class="input-icon">가족 중에 당뇨병 환자가 있습니까?<i class="fa fa-user"></i></div>
                <input id="family-no" type="radio" name="family_diabetes" value="0"/>
                <label for="family-no">없음</label>
                <input id="family-yes" type="radio" name="family_diabetes" value="1"/>
                <label for="family-yes">있음</label>
            </div>
    
            <div class="input-group">
                <div class="input-icon">고혈압 진단을 받은 적이 있습니까?<i class="fa fa-user"></i></div>
                <input id="hypertension-no" type="radio" name="hypertension" value="0"/>
                <label for="hypertension-no">없음</label>
                <input id="hypertension-yes" type="radio" name="hypertension" value="1"/>
                <label for="hypertension-yes">있음</label>
            </div>
    
            <div class="input-group">
                <div class="input-icon">임신성당뇨 진단을 받은 적이 있습니까?<i class="fa fa-user"></i></div>
                <input id="gestational-no" type="radio" name="gestational" value="0"/>
                <label for="gestational-no">없음</label>
                <input id="gestational-yes" type="radio" name="gestational" value="1"/>
                <label for="gestational-yes">있음</label>
            </div>
            
            <div class="input-group">
                <div class="input-icon">현재 흡연을 하고 계십니까?<i class="fa fa-user"></i></div>
                <input id="tobacco-no" type="radio" name="tobacco" value="0"/>
                <label for="tobacco-no">금연</label>
                <input id="tobacco-yes" type="radio" name="tobacco" value="1"/>
                <label for="tobacco-yes">흡연</label>
            </div>

            <div class="input-group">
                <div class="input-icon">하루 평균 음주량이 얼마나 되십니까?<i class="fa fa-user"></i></div>
                <input id="drink-no" type="radio" name="drink" value="0"/>
                <label for="drink-no">1잔 미만</label>
                <input id="drink-small" type="radio" name="drink" value="1"/>
                <label for="drink-small">1~4잔</label>
                <input id="drink-heavy" type="radio" name="drink" value="2"/>
                <label for="drink-heavy">5잔 이상</label>
            </div>
    
            <div class="input-group">
                <div class="input-icon">하루 평균 운동량이 얼마나 되십니까?<i class="fa fa-user"></i></div>
                <input id="exercise-no" type="radio" name="exercise" value="0"/>
                <label for="exercise-no">30분 미만</label>
                <input id="exercise-small" type="radio" name="exercise" value="1"/>
                <label for="exercise-small">30~60분</label>
                <input id="exercise-heavy" type="radio" name="exercise" value="2"/>
                <label for="exercise-heavy">60분 이상</label>
            </div>   
            <input type="submit" value="제출하기">
        </form>
    </div>
    <p></p>
    <div class="container">
        <h4> 당뇨병 위험도 체크 결과</h4>
        {% if AI_risk_score == 0 %}
        <p> AI가 판단하기에 당뇨병 위험도가 높지 않습니다. 그러나 관련 증상이 있으시면 검사를 받으시기 바랍니다.</p>
        {% endif %}
        {% if AI_risk_score == 1 %}
        <p> AI가 판단하기에 당뇨병 위험도가 높습니다. 가까운 내과에 방문하시어 혈당검사를 받으시기를 권고합니다.</p>
        {% endif %}

    </div>

</body>
</html>